<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name>faces-motors_alvaro</display-name>
  <servlet>
    <servlet-name>VisualizaAutomovelServlet</servlet-name>
    <servlet-class>br.com.indra.model.servlets.VisualizaAutomovelServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisualizaAutomovelServlet</servlet-name>
    <url-pattern>/consulta</url-pattern>
  </servlet-mapping>
</web-app>
